/*cuerpo de la pagina*/
#content{
    background: rgb(24, 26, 39) !important;
    color: rgba(255, 255, 255, .6) !important;
}
/*caja izquierda */
body{
    background-color: rgb(24, 26, 39) !important;
    color: white !important;
}
/* Encabezado*/
#mw-head{
    background-color: rgb(24, 26, 39) !important;
    color: white !important;
}
h1, h2, h3, h4, h5, h6{
    color: white !important;
}